.THIS {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4d4f53;
}
.THIS .challengeLoaded {
  width: 450px;
  height: 500px;
}
.THIS.registration-wrapper {
  padding-top: 24px;
  padding-bottom: 83px;
  background: #f7f7f7;
}
.THIS .form-container .slds-grid {
  margin-left: 0px;
  margin-right: 0px;
}
.THIS .register-container {
  background: #fff;
  padding: 0px 5.269%;
  height: auto;
}
.THIS .page-heading {
  font-size: 18px;
  font-weight: bold;
  color: #373737;
}
.THIS .help-text {
  font-size: 14px;
  font-style: italic;
  color: #4d4f53;
  margin-left: 9px;
  margin-top: 17px;
  margin-bottom: 24px;
}
.THIS .reg {
  width: 215px;
  height: 36px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #005172;
}
.THIS .blueBox {
  border: solid 1px #d9d9d9;
  background-color: #dff0fa;
  margin-bottom: 0px;
  border-radius: 2px;
  padding-left: 3.78%;
}
.THIS .bigBox {
  height: auto;
  margin-bottom: 56px;
  border-radius: 2px;
  border: solid 1px #d9d9d9;
  padding: 0 7.4% 0 2.9%;
}
.THIS .slds-select_container::before {
  border-bottom: none;
}
.THIS .slds-select_container::after {
  border-top: none;
}
.THIS .slds-select_container .slds-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/resource/1561559330000/EC_Branding_Theme/images/icons/down-arrow.png") no-repeat right;
  background-position: calc(100% - 14px) center;
  background-size: 26px;
  outline: 0;
}
.THIS .subheading {
  font-size: 15px;
  font-weight: bold;
  color: #005172;
  margin-left: 9px;
}

.THIS .ec_btn_primary {
  width: 140px;
  height: 42px;
  letter-spacing: normal;
  margin-left: 9px;
  position: relative;
}
.THIS .ec_btn_primary:disabled {
  font-size: 14px;
  border-radius: 2px;
}
.THIS .text-filled input {
  border: 1px solid #007ac9;
}
.THIS .slds-form-element.slds-has-error .slds-form-element__label {
  color: inherit !important;
}
.THIS .country-code .slds-form-element.slds-has-error:after {
  content: "";
}
.THIS .slds-button_neutral[disabled],
.THIS .slds-button_neutral:disabled,
.THIS .slds-button--neutral[disabled],
.THIS .slds-button--neutral:disabled {
  background-color: #adafaf;
  cursor: default;
}
.THIS .slds-button[disabled],
.THIS .slds-button:disabled {
  color: #fff;
}

.THIS .slds-select {
  height: 42px;
  border-radius: 2px;
  border: solid 1px #edeeef;
  background-color: #ffffff;
  outline: 0;
}
.THIS abbr {
  display: none;
}
.THIS .information {
  position: absolute;
  left: 110px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
}
.THIS .information:before {
  content: "\e88f"; 
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #2476ba;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.THIS .information:hover .tooltip {
  visibility: visible;
}
.THIS .information .tooltip {
  visibility: hidden;
  position: absolute;
  top: -8px;
  left: 20px;
  padding: 5px 10px;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.THIS .account-security .information {
  left: 175px;
  top: 5px;
  cursor: pointer;
}
.THIS .information i {
  color: #2476ba;
  font-size: 16px;
}
.THIS .captcha-box.challengeLoaded {
  height: auto;
  border: none;
}
.THIS .captcha-box {
  padding-right: 10px;
  width: 304px;
  height: 78px;
  border-radius: 2px;
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  margin: 56px 20px 72px 10px;
}

/* CSS for the Modal Box */
.THIS .popUpPrime {
  text-align: center;
}
.THIS .modalHeader {
  border-bottom: 0px;
  padding: 32px 32px 24px 32px;
}
.THIS .modalHeader .closeButton {
  margin-top: 0px;
  margin-right: 0px;
  font-size: 24px;
}
.THIS .modalHeader .modalHeading {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #005172;
}
.THIS .contentContainer {
  padding: 0px 32px 0px 32px;
  background-color: #fff;
  border: 0px;
}
.THIS .contentContainer .orangeBox {
  border: 1px solid #e00034 !important;
  border-radius: 2px;
  padding: 50px 120px 50px 120px;
}
.THIS .contentContainer .orangeBox .error {
  font-size: 75px;
  color: #e00034 !important;
}
.THIS .modalFooter {
  border-top: 0px;
  padding: 0px;
}
.THIS .modalFooter .okButton {
  margin: 24px 32px 24px 0px;
  padding: 12px 57px 14px 57px;
}
.THIS .bodyHeading {
  font-size: 24px;
  padding: 8px;
}

@media screen and (min-width: 767px) {
  .THIS .mobile-view {
    display: none;
  }
}
/* Media for Account Settings */

/* Mobile devices */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .THIS {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4f53;
  }
  .THIS .mobile-view {
    display: block;
    background: #ffffff;
  }
  .THIS .desktop-view {
    display: none;
  }
  .THIS .reg {
    height: 26px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.18;
    color: #005172;
    text-align: left;
  }
  .THIS .page-heading {
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: #4d4f53;
  }
  .THIS .help-text {
    height: 14px;
    font-size: 12px;
    font-style: italic;
    color: #4d4f53;
  }
  .THIS .subheading {
    height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: #005172;
  }
  .THIS input[type="text"],
  .THIS input[type="email"],
  .THIS input[type="tel"],
  .THIS input[type="select"] {
    height: 36px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #4d4f53;
  }
  .THIS .slds-form-element.slds-has-error:after {
    top: 35px !important;
  }
  .THIS .captcha-box {
    border-radius: 0px !important;
    border: none !important;
    background-color: #ffffff !important;
    margin: auto !important;
    padding: 0px !important;
  }
  .THIS .ec_btn_primary {
    width: 100%;
    height: 42px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
  }
    
   .THIS.registration-wrapper {
    	overflow: hidden;
        padding-bottom: 40px;
   }
   .THIS .register-container {
        width: 100%;
        padding: 0;
    }
    .THIS .form-container {
        margin: auto;
    }
    .THIS .blueBox, .THIS .reg  {
        padding-left: 21px;
        padding-right: 21px;
    } 
    .THIS .bigBox {
        border: none;
        padding: 0px 21px;
        margin-bottom: 0px;
    }
    .THIS .ec_btn_primary {
        margin-left: 0px;
    }
    .THIS .input-pad-remove {
        padding-left: 0px;
        padding-right: 0px;
    }
    .THIS .subheading, .THIS .help-text {
        margin-left: 0px;
    }
    .THIS .first-name-input,.THIS .country-code-input,.THIS .account-number-input {
        padding-bottom: 18px;
    }
}
@media screen and (max-width: 1365px) and (min-width: 768px){
    .THIS .slds-show_large{
    	display: none;
    }
}